a:link, a:visited { color: #FFFFFF; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #99FF00; text-decoration: underline; }
#loginform, ul, li {
	list-style-type: none;
}
#header {
	width: 100%;
	height: 250px;
	margin: auto;
	background-color: #c30ef0;
	position: sticky;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-image: url(images/);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/**/
.logotip {
	max-width: 250px;
	max-height: 250px;
	min-width: 50px;
	min-height: 50px;
}
.avtorization {
	border-radius: 100%;
	width: 75px;
	height: 75px;
	background-image: url(dop_block/login.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	border: none;
	float: right;
	text-align: center;
}
.avtorization_text {
	background-color: #c30ef0;
	text-align: center;
	font-size: larger;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}
  
  .form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 1px solid #000000;
	z-index: 9;
	
  }
  
  .form-container {
	max-width: 210px;
	padding: 10px;
	background-color: white;
	
  }
  
  .form-container input[type=text], .form-container input[type=password] {
	width: 86%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  .form-container .btn {
	background-color: #1976D2;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
	font-size: 15px;
	font-weight: bold;
  }
  
  .form-container .cancel {
	background-color: #448AFF;
  }
  
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }

/**/


.position_block_2 {
	margin: 0px;
	padding: auto;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
	
}
.left_side_bar {
	text-align: center;
	padding: 15px;
	background-image: url(dop_block/g_1.gif);
	width: 12%;
	height: 480px;
	background-size: cover;
	background-position: center;
}

.body_content {
	background-color: #c30ef0;
	width: 76%;
	height: 480px;
	padding: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	
}


.Text_1_anime {
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 15px;
	width: 98%;
	height: 55px;
	background-color: #000000;
	display: flex;
   	flex-direction: column;
	margin-bottom: 10px;
	
}


.text_obz {
	color: rgb(255, 255, 255);
	
}

.right_side_bar {
	text-align: center;
	background-image: url(dop_block/g_1.gif);
	width: 12%;
	height: 480px;
	padding: 15px;
	background-size: cover;
	background-position: center;
}
#navigation {
	width: 100%;
	height: auto;
	margin: 0px;
	padding-top: 10px;
	position: sticky;
	background-color: black;
}
.Av {
	color: black;
	font-size: medium;
}
.footer {
	width: 100%;
	min-height: 75px;
	max-height: 220px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	background: #c30ef0;
	box-shadow: 0 -200px 100px -120px rgb(125, 23, 165) inset;
	animation: background 3s infinite alternate;
	color: #FFFFFF;
}
@keyframes background {
	50% {
	  background: rgb(152, 40, 204);
	  box-shadow: 0 -200px 100px -100px rgb(23, 38, 170) inset;
	}
}
.foto_footer_l {
	width: 15%;
	min-height: 75px;
	max-height: 220px;
	text-align: left;
}
.foto_footer_r {
	width: 15%;
	min-height: 75px;
	max-height: 220px;
	text-align: right;
}
.text_footer {
	width: 70%;
	min-height: 75px;
	max-height: 220px;
	display: flex;
	flex-direction: row;
	padding-top: 25px;
}
.contak {
	width: 50%;
	min-height: 75px;
	max-height: 220px;
}
.osnovatel {
	width: 50%;
	min-height: 75px;
	max-height: 220px;
	text-align: right;
}
.help_k {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: white;
	font-size: 16px;
}



.skrol_block_anime {
	width: 218%;
	height: 310px;
	
}
.sm_anime {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_2 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 250px;
	top: -309px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_2 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_3 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 500px;
	top: -618px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_3 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_4 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 750px;
	top: -927px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_4 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_5 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 1000px;
	top: -1235px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_5 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_6 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 1250px;
	top: -1543px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_6 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_7 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 1500px;
	top: -1851px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_7 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_8 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 1750px;
	top: -2159px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_8 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_9 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 2000px;
	top: -2467px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_9 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
.sm_anime_10 {
	width: 200px;
	height: 310px;
	margin-bottom: 0px;
	background-color: black;
	position: relative;
	left: 2250px;
	top: -2775px;
	margin-left: 25px;
	margin-right: 25px;
}
.text_anime_10 {
	width: 200px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 25px;
	position: relative;
}
/* часы */
.clock {
	position: absolute;
	top: 15px;
    right: 20px;
	font-size: 20px;
	font-family: Verdana, Arial, Sans-serif;
	color: rgb(0, 0, 0);
  }
  .clock ul {
	margin: 0px;
	list-style: none;
  }
  .clock ul li {
	display: inline;
  }
  .clock ul li#separator {
	-moz-animation: myfade 1s ease infinite;
	-webkit-animation: myfade 1s ease infinite;
  }
  

  @-webkit-keyframes myfade {
	0% {
	  opacity: 1.0;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1.0;
	}   
  }
  
  @-moz-keyframes myfade {
	0% {
	  opacity: 1.0;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1.0;
	};
  }
  #overlay {
    position: absolute;
    top: 40px;
    right: 0px;
    display: none;
    width: 360px;
    height: 180px;
    -webkit-animation: fade .3s;
    -moz-animation: fade .3s;
    animation: fade .3s; 
}
.close {
    top: 10px;
    right: 25px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}
/**/
.logotip {
	max-width: 250px;
	max-height: 250px;
	min-width: 50px;
	min-height: 50px;
}
.avtorization {
	border-radius: 100%;
	width: 75px;
	height: 75px;
	background-image: url(dop_block/login.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	border: none;
	float: right;
	text-align: center;
}
.avtorization_text {
	background-color: #c30ef0;
	text-align: center;
	font-size: larger;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}
  
  .form-popup_help_k {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 1px solid #000000;
	z-index: 9;
	
  }
  
  .form-container_help_k {
	max-width: 210px;
	padding: 10px;
	background-color: white;
	
  }
  
  .form-container_help_k input[type=text], .form-container_help_k input[type=password] {
	width: 86%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  .form-container_help_k input[type=text]:focus, .form-container_help_k input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  .form-container_help_k .btn {
	background-color: #1976D2;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
	font-size: 15px;
	font-weight: bold;
  }
  
  .form-container_help_k .cancel {
	background-color: #448AFF;
  }
  
  .form-container_help_k .btn:hover, .open-button:hover {
	opacity: 1;
  }

/**/