a:link, a:visited { color: #FFFFFF; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #99FF00; text-decoration: underline; }
#loginform, ul, li {
	list-style-type: none;
}
#header {
	width: 100%;
	height: 250px;
	margin: auto;
	background-color: #c30ef0;
	position: sticky;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-image: url(images/);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.position_block_2 {
	margin: 0px;
	padding: auto;
	width: 100%;
	height: 465px;
	display: flex;
	flex-direction: row;
	
}
.left_side_bar {
	text-align: center;
	padding: 15px;
	background-image: url(dop_block/g_1.gif);
	width: 12%;
	height: 465px;
	background-size: cover;
	background-position: center;
}

.body_content {
	background-color: #c30ef0;
	width: 76%;
	height: auto;
	padding: 10px;
	display: flex;
  	flex-flow: row wrap;
	  overflow-x: hidden;
	  overflow-y: scroll;
}

.Img_1 {
	max-width: 150px;
	height: 150px;
	margin: 0px;
	padding: 0%;
	background-color: black;
	margin-bottom: 10px;
}
.otst_img_text {
	width: 15px;
	height: 150px;
	margin-bottom: 10px;
}
.Text_1 {
	margin: 0px;
	padding: 10px;
	width: 82%;
	max-height: 600px;
	min-height: 100px;
	background-color: #000000;
	display: flex;
   	flex-direction: column;
	margin-bottom: 10px;
}
.text_obz {
	color: rgb(255, 255, 255);
}

.right_side_bar {
	text-align: center;
	background-image: url(dop_block/g_1.gif);
	width: 12%;
	height: 465px;
	padding: 15px;
	background-size: cover;
	background-position: center;
}
#navigation {
	width: 100%;
	height: auto;
	margin: 0px;
	padding-top: 10px;
	position: sticky;
	background-color: black;
}
.Av {
	color: black;
	font-size: medium;
}
.footer {
	
	width: 100%;
	height: 120px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	background-color: #c30ef0;
}
.f_1 {
	width: 20%;
	height: 120px;
	background-color: #ffffff;
}
.f_2 {
	width: 20%;
	height: 120px;
	background-color: #ffffff;
}
.raz {
	width: 76%;
	height: 120px;
	padding-left: 10%;
	background: #c30ef0;
	box-shadow: 0 -200px 100px -120px rgb(125, 23, 165) inset;
	animation: background 3s infinite alternate;
}
@keyframes background {
	50% {
	  background: rgb(152, 40, 204);
	  box-shadow: 0 -200px 100px -100px rgb(23, 38, 170) inset;
	}
}
/* часы */
.clock {
	position: absolute;
	top: 15px;
    right: 20px;
	font-size: 20px;
	font-family: Verdana, Arial, Sans-serif;
	color: rgb(0, 0, 0);
  }
  .clock ul {
	margin: 0px;
	list-style: none;
  }
  .clock ul li {
	display: inline;
  }
  .clock ul li#separator {
	-moz-animation: myfade 1s ease infinite;
	-webkit-animation: myfade 1s ease infinite;
  }
  

  @-webkit-keyframes myfade {
	0% {
	  opacity: 1.0;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1.0;
	}   
  }
  
  @-moz-keyframes myfade {
	0% {
	  opacity: 1.0;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1.0;
	};
  }
  #overlay {
    position: absolute;
    top: 40px;
    right: 0px;
    display: none;
    width: 205px;
    height: 170px;
    -webkit-animation: fade .3s;
    -moz-animation: fade .3s;
    animation: fade .3s; 
}